@model KYC.ViewModels.HomeIndexViewModel

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/HomeIndex.css")" rel="stylesheet" />

<div>
    @if (!Model.IsPostback)
    {
        @Html.Partial("__GetMyStuffSection", Model)
    }
    else if (Model.Failed)
    {
        @Html.Partial("__PageSpecificErrorSection", Model)
    }
</div>